
@{
    ViewData["Title"] = "Operation";
}

<h2>Operation</h2>

<p>Transient : @ViewBag.Transient</p>
<p>Scoped : @ViewBag.Scoped</p>
<p>Singleton : @ViewBag.Singleton</p>
<p>Instance : @ViewBag.Instance</p>
